name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup ufbt
        run: |
          pip install ufbt
          ufbt update --channel=release
          
      - name: Build app
        run: ufbt build
        
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: app
          path: dist/*.fap
